streamlit
langchain
langchain-core
langchain-chroma
langchain-community
langchain-groq
langchain-text-splitters
chromadb
pdfplumber
pypdf
langchain-ollama
langchain_huggingface
sentence-transformers
hf_xet
protobuf==3.20.3
